{% extends 'base.html' %}
{% block title%}Cart{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
    <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
            <div class="col-md-4">
                <img src="{{good.image.url}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h6 class="card-title">{{good.title}}</h6>
                <p class="card-text">{{good.description}}</p>
                <p class="card-text"><small class="text-muted">К оплате: {{good.price}}₽</small></p>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="form-floating">
                    <input id="floatingLastNameInput" type="text" class="form-control" placeholder="Ваша фамилия" aria-label="Ваша фамилия">
                    <label for="floatingLastNameInput">Ваша фамилия</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input id="floatingFirstNameInput" type="text" class="form-control" placeholder="Ваше имя" aria-label="Ваше имя">
                    <label for="floatingFirstNameInput">Ваше имя</label>
                </div>
            </div>
        </div>
        <p>
          <div class="form-floating">
            <input id="floatingPhoneInput" type="text" class="form-control" placeholder="Номер телефона" aria-label="Номер телефона">
            <label for="floatingPhoneInput">Номер телефона</label>
          </div>
        </p>
        <p>
          <div class="form-floating">
            <input id="floatingAddressHomeInput" type="text" class="form-control" placeholder="Адрес доставки" aria-label="Адрес доставки">
            <label for="floatingAddressHomeInput">Адрес доставки</label>
          </div>
        </p>
        <p>
          <div class="form-floating">
            <input id="floatingeEmailInput" type="email" class="form-control" placeholder="name@example.com">
            <label for="floatingeEmailInput">Адрес электронной почты</label>
          </div>
        </p>
        <p>
          <div class="form-floating">
            <select id="floatingPaymentMethodSelect" class="form-select" aria-label="Floating label select example">
                <option value="True">Наличные</option>
                <option value="False">Qiwi</option>
            </select>
            <label for="floatingPaymentMethodSelect">Выберите сервис или метод для оплаты</label>
          </div>
        </p>
        <p>
          <div class="row">
            <div class="col">
                <div class="form-check">
                    <input id="flexRadioDeli1" class="form-check-input" type="radio" name="flexRadioDefault" value="0">
                    <label class="form-check-label" for="flexRadioDeli1">
                    Курьерская доставка
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input id="flexRadioDeli2" class="form-check-input" type="radio" name="flexRadioDefault" value="1">
                    <label class="form-check-label" for="flexRadioDeli2">
                    Сервисы доставки
                    </label>
                </div>
            </div>
          </div>
        </p>
    </div>
    </div>
    <br>
    <button id="payment_btn" type="submit" class="btn btn-outline-primary w-100" onclick="payment_process();">Оплатить</button>
</div>
{% endblock %}