{% extends 'base.html' %}
{% block title%}StoreShop{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <h6>Коллекция для мужчин</h6>
      <img src="media/images/1ae84397e13c44420efed0d19f89d1cb.png" class="img-fluid" alt="...">
      &nbsp;
      <form action="/mans" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-dark w-100">Смотреть</button>
      </form>
    </div>
    <div class="col">
      <h6>Коллекция для женщин</h6>
      <img src="media/images/496dd6ddcfe80117ac82312585bc0330.png" class="img-fluid" alt="...">
      &nbsp;
      <form action="/womans" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-dark w-100">Смотреть</button>
      </form>
    </div>
    <div class="col">
      <h6>Коллекция для детей</h6>
      <img src="media/images/3d6eeac0a1a7f8427c540e7670a84542.png" class="img-fluid" alt="...">
      &nbsp;
      <form action="/kids" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-dark w-100">Смотреть</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}