{% extends 'base.html' %}
{% block title%}StoreShop{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <h6>Коллекция для мужчин</h6>
      <img src="media/images/ded11607ea76d3c79f36702be294ce03.png" class="img-fluid" alt="...">
      &nbsp;
      <form action="/mans" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-dark w-100">Смотреть</button>
      </form>
    </div>
    <div class="col">
      <h6>Коллекция для женщин</h6>
      <img src="media/images/786f2f45e15e67695c3ed3f6f0c8dda5.png" class="img-fluid" alt="...">
      &nbsp;
      <form action="/womans" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-dark w-100">Смотреть</button>
      </form>
    </div>
    <div class="col">
      <h6>Коллекция для детей</h6>
      <img src="media/images/3a02e4f4ffbe0794f6826696571d9e10.png" class="img-fluid" alt="...">
      &nbsp;
      <form action="/kids" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-dark w-100">Смотреть</button>
      </form>
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2022 Copyright:
    <a href="/"> StoreShop</a>
  </div>
  <!-- Copyright -->
</footer>
{% endblock %}