{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
        <h6>Данные профиля</h6>
        <div class="card mb-3" style="max-width: 500px;">
            <div class="row g-0">
              <div class="col-md-4">
                <div class="text-center">
                    <br>
                    <img src="/static/images/PersonalPhoto.png" class="img-fluid rounded-start" alt="...">
                </div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h6 class="card-title">{{user.username}}</h6>
                  <p class="card-text"><small class="text-muted">Вступил: {{user.date_joined}}</small></p>
                  <a href="/logout" class="btn btn-danger">Выйти</a>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col">
        <h6>Заказы</h6>
        <div class="card mb-3" style="max-width: 500px;">
            <div class="col-md-8">
              <div class="row g-0">
                <div class="col-md-12">
                <div class="card-body">
                  <h6 class="card-title">История заказов</h6>
                  <p class="card-text"><small class="text-muted">Количество: {{orders|length}}</small></p>
                  <a href="/my_orders" class="btn btn-primary">Перейти к заказам</a>
                </div>
                </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}